## Emergency Services

1. ...

## Capacity

...

## Additional information

1.  

## Personnel

**Total:** 4-6 people

**Compostion:** Team Leader, 1-2 WASH or Chemical Engineer, 1 Technician/Plumber, 1 Logistic/Admin/Finance

## Standard modules/components

## Specifications

**Weight:** 22 MT

**Volume:** 160 CBM

**Cost (indicative):** CHF 250,000

**National societies providing this service:**

## Variation on configuration

- ...
