language: ruby
rvm:
- 2.3.1
env:
  global:
  - TRAVIS_NODE_VERSION="v12.14.0"
  - GH_REF=github.com/IFRCGo/global-services.git
  - DEPLOY_BRANCH=publish
  matrix:
    secure: bPpeyLdPCgl5PHLpkJQ+2yK9PnDEx4z0WM4VNyyErZjPyW+SZHVlcYl33xabj52F8thuyvdIKWAKhOj3yua6JvG6BKxqFMudIj36qhnav2mTC5UP8YE+dgbRzy1QLk63j/14s5/LvPQHMEtU27Ac7xJkXzAB1lhke8x0CpI3zWDg3miSBVlY1qqMK/7D1p4sJe1JySPXOaH6R9K6lMjmoBgLypcwaO7G2RZQiILC8OpELkdUAd3seo19cSSaHvC8gjaFLa9qtciUAyv3Jb7e8WG1OxnZeDS3PCgQkwIjSNNePCGCrI5HJVYRLXOsi0GwOoQRVSCOGKGCrDUr+Bh6sbXjcnYl8QFSdGlVqLVoE2Wn+iymC1HMky6D34osguTII18R5WX7cNm3RMCLXu6nrfuMw/pZp6hTeTV0BNAXBfaIXJ07iQCA3c7504JmAoz3/yhTf4/vV2mBt8eqVBXDM4RZT6FcVnO48gxXQ5nnvBbHzsRlQBplkXpuOrjxYVWn5o7HViMgUa/dIh3ZANF6MS7eTeCR8Te+Q8ymwDneIhDyrDbQoRPxqvhC3XKRwmKWiStLQMfohjcBTQdb9toAK27ifokORCWg6ZQk3an9gsAP3QYIiSHo7WGPbquiP+iB4UktoT2UaWy0NwVYq3OSDWejHrK6zICjppejsrW4ufQ=
before_script:
- ". $HOME/.nvm/nvm.sh"
- nvm install $TRAVIS_NODE_VERSION
- nvm use $TRAVIS_NODE_VERSION
- npm install -g gulp
- npm install
script: gulp prod
deploy:
  provider: pages
  skip-cleanup: true
  github-token: "$GH_TOKEN"
  keep-history: false
  on:
    branch: publish
  local_dir: _site
