<div class="container py-5">
  <div class="row no-gutters">
    
  {% for collection in site.collections %}
    {% if collection.label != 'posts' %}
    
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card sector-card mb-3 mx-2">
        <div class="card-body text-center">
          <h1><i class="sector-card-icon humanitarian-icon_{{ collection.label }}"></i></h1>
          <h5 class="card-title mt-3">            
            <a href="{% render_depth %}{{ collection[page.lang].url | remove_first:'/' }}" class="stretched-link">
              {{ site.data[page.lang][collection.label]title }}
            </a>
          </h5>
        </div>
      </div>
    </div>

    {% endif %}
  {% endfor %}
       
  </div>
</div>
