<div class="container">
  <div class="row">
    
    <div class="col-12">
      <h2>{{ site.data[page.lang].sectors.rrp }}</h2> 
    </div>
      
    <div class="col-12">
      <div class="card-deck">
        {% if site.data[page.lang][sector.label].role-profiles.size > 0 %}
        <div class="card">
          <div class="card-header">{{ site.data[page.lang].sectors.rp-title }}</div>
          <div class="list-group list-group-flush">
            {% for profile in site.data[page.lang][sector.label].role-profiles %}
             <a href="{{ profile.link }}" class="list-group-item list-group-item-action">{{ profile.name }} &nbsp;<i class="far fa-file-pdf"></i></a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="card">
          <div class="card-header">{{ site.data[page.lang].sectors.framework-title }}</div>
          <div class="card-body">
            <p class="card-text">{{ site.data[page.lang].sectors.framework-description }}</p>
          </div>
          <div class="card-footer bg-transparent pt-0 border-top-0">
            <a href="{% render_depth %}assets/docs/{{sector.label}}/{{ site.data[page.lang][sector.label].technical-framework }}" class="btn btn-outline-dark">{{ site.data[page.lang].learn-more }} &nbsp;<i class="far fa-file-pdf"></i></a>
          </div>
        </div>
      </div>
    </div>
       
  </div>
</div>

<br>