<div class="container">
  
  <div class="row">
    <div class="col-12">
      <h2>{{ site.data[page.lang].sectors.rrp }}</h2> 
    </div>
    <div class="col-12">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">{{ site.data[page.lang].sectors.rp-title }}</div>
          <div class="card-body">
            <p class="card-text">{{ site.data[page.lang].sectors.rp-description }}</p>
          </div>
          <div class="card-footer bg-transparent pt-0 border-top-0">
            <a href="#" class="btn btn-outline-dark">{{ site.data[page.lang].learn-more }}</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">{{ site.data[page.lang].sectors.framework-title }}</div>
          <div class="card-body">
            <p class="card-text">{{ site.data[page.lang].sectors.framework-description }}</p>
          </div>
          <div class="card-footer bg-transparent pt-0 border-top-0">
            <a href="#" class="btn btn-outline-dark">{{ site.data[page.lang].learn-more }}</a>
          </div>
        </div>
      </div>
    </div>    
  </div>

</div>

<br>